<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">Add New Post</h3>
            <p class="mb-5">You can create your new post here.</p>
        </div>
    </div>
    <form action="" [formGroup]="postForm" (ngSubmit)="uploadNewPost()">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" (keyup)="onTitleChanged($event)" formControlName = "title" [ngClass]="{'is-invalid' : f.title.touched && f.title.invalid}">
                            <div *ngIf="f.title.errors?.required">
                                <div class="alert alert-danger" *ngIf="f.title.touched && f.title.invalid">
                                    Title is required
                                </div>
                            </div>
                            <div *ngIf="f.title.errors?.minlength">
                                <div class="alert alert-danger" *ngIf="f.title.touched && f.title.invalid">
                                    Title must be atleast 10 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Permalink</label>
                            <input type="text" class="form-control" name="permalink"  formControlName = "permalink">
                        </div>
                        <div class="form-group">
                            <label for="">Details</label>
                           <textarea name="" id="" cols="30" rows="10" class="form-control" formControlName = "details" [ngClass]="{'is-invalid' : f.details.touched && f.details.invalid}"></textarea>
                           <div *ngIf="f.details.errors?.required">
                                <div class="alert alert-danger" *ngIf="f.details.touched && f.details.invalid">
                                Details required
                                </div>
                            </div>
                            <div *ngIf="f.details.errors?.minlength">
                                <div class="alert alert-danger" *ngIf="f.details.touched && f.details.invalid">
                                Details must be atleast 50 characters long.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Please select a post category</label>
                    <select name="" class="form-control" id="" formControlName = "category" [ngClass]="{'is-invalid' : f.category.touched && f.category.invalid}">
                        <option value="" disabled> Please select a category</option>
                        <option value="{{cat.id}}-{{cat.data.category}}" *ngFor="let cat of categoryList"> {{cat.data.category}}</option>
                    </select>
                    <div *ngIf="f.category.errors?.required">
                        <div class="alert alert-danger" *ngIf="f.category.touched && f.category.invalid">
                            Category is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Post Image</label>
                    <img [src]="imgSrc" alt="" class="form-control img-fluid img-preview">
                    <input type="file" class="form-control" accept="image/*" (change)="showPreview($event)" formControlName = "postImg" [ngClass]="{'is-invalid' : f.postImg.touched && f.postImg.invalid}">
                    <div *ngIf="f.postImg.errors?.required">
                        <div class="alert alert-danger" *ngIf="f.postImg.touched && f.postImg.invalid">
                            Post Image is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-md-12">
                 <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Content</label>
                            <angular-editor formControlName = "content" palceholder="Add your content here."></angular-editor>
                            <div *ngIf="f.content.errors?.required">
                                <div class="alert alert-danger" *ngIf="f.content.touched && f.content.invalid">
                                    Content is required.
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-md-12 text-center mt-3 mb-5">
                <button class="btn btn-info bg-theme" [disabled]="postForm.invalid">Save Post</button>
                <button class="btn btn-warning ml-3" routerLink="/posts">back to Posts</button>
            </div>
        </div>
    </form>
</div>